{% extends 'layout.html' %}

{% block body %}
        <div class="jumbotron text-center">
        <h1 style="text-align: center">Restaurant Menu</h1>
        
        <table>
            <tr>
                <th style="text-align: center">Item Id</th>
                <th style="text-align: center">Dish Item</th>
                <th style="text-align: center">Description</th>
                <th style="text-align: center">Price</th>
            </tr>
            <br>
            {% for item in food_items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
            </tr>
            {% endfor %}
            
        </table>
        <br>
            <a href="/place-order" class="btn btn-primary btn-lg">Place Order</a>
        </div>
        
{% endblock %}